



.navbar{
    font-size: 14px;
    min-width: auto;
    height: 48px;
    font-family: arial,sans-serif;
    color: #222;
    position:relative;
}
.upper-right{
    min-width: 220px;
    float:right;
    display:flex;
    flex: 0 0 auto;
    justify-content:space-between;
    flex-wrap: wrap;
    height:48px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
}

.links_gmail_imgs{
    display: flex;
    flex-direction:row;
    padding: 10px 0px;
}
.links_app_profile {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
a {
color: #222;
text-decoration: none;
}

.link_gmail{
    padding: 10px;
}
.link_imgs{
    padding: 10px 10px 0px 10px;
    border-radius: 50%;
}
.app img{
    padding: 10px 10px 10px 0px;
    display:block;
    height: 25px;
    width: 25px;
}
.profile img{
    padding-top: 5px;
    display:block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
/*google logo*/

.main-div-logo{
display:block;
text-align: center;
height: 100px;
margin-top: 83px;
}

.logo {
    position:relative;
}

/*searchbar*/

.searchbar{
    display:flex;
    position:relative;
    align-items: center;
}

 #searchbar{
     display:flex;
     height:34px;
     position:relative;
     border-radius:24px;
     color: dimgray;
 }